._container {
  transition: all 0.3s;

  display: flex;
  flex-direction: column;
  align-items: center;

}

._container:hover {
  transition: all 0.3s;
}

._modal {
  height: 385px;
  width: 500px;
  padding: 0px;

  background: ghostwhite;
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 6px;

  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);

  z-index: 20;
}

._tempImg {
  width: 98%;
  height: 200px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;

  background: rgb(235, 235, 235, 0.4);
  border-radius: 6px;
}

._info {
  width: 500px;
  /* height: 90px; */

  margin-top: 4px;

  display: flex;
  flex-direction: column;
  align-items: center;

  /* background: red; */
}

._buttonBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 200px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

._buttonBox2 {
  transition: all 0.5s;
  color: crimson;
  width: 23px;
  height: 23px;

  opacity: 0.6;
  
  margin-right: 5px;
  padding: 2px;

  cursor: pointer;
}

._buttonBox2:hover {
  transition: all 0.5s;
  opacity: 1;
}

._submit {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  width: 88%;
  height: 40px;

  margin: 6px;
  margin-top: 10px;
  margin-bottom: 8px;
  margin-left: 5px;

  align-self: flex-end;

  background: grey;

  border-radius: 6px;
  outline: none;
  border: none;

  color: ghostwhite;
  font-weight: 700;
  font-size: 15px;

  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

._submit:hover {
  background: rgb(162, 162, 162);
}

._textInput {
  width: 98%;
  height: 35px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;

  border-radius: 3px;
  outline: none;
  border: none;

  text-align: center;

  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

/* textarea:focus, input:focus{
  outline: none;
} */

@media (max-width: 600px) {
}
